@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-width: 100vh;
  padding: 4rem 2rem;
  background-color: hsl(0, 0%, 98%);
}

.hero-section {
  text-align: center;
}

.header1 {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 33.5px;
}

.header2 {
  font-size: 34px;
  font-weight: 200;
}

.paragraph {
  font-weight: 400;
  font-size: 14px;
  max-width: 500px;
  margin: 0 auto 0;
  font-size: 15px;
}

.header1,
.header2,
.paragraph {
  color: hsl(234, 12%, 34%);
}

.cards {
  display: flex;
}

.feature-card {
  width: auto;
  height: auto;
  padding: 15px;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
