@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  padding: 4rem 2rem;
  background-color: hsl(0, 6%, 93%);
}

.hero-section {
  text-align: center;
  color: hsl(234, 12%, 34%);
}

.header1 {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 33.5px;
}

.header2 {
  font-size: 34px;
  font-weight: 200;
}

.paragraph {
  font-weight: 400;
  max-width: 500px;
  margin: 0 auto 0;
  font-size: 14px;
}

.grid-container {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "  .   card2   .  "
    "card1 card2 card3"
    "card1 card4 card3"
    "  .   card4   .  ";
  gap: 1rem;
}

.feature-card1,
.feature-card2,
.feature-card3,
.feature-card4 {
  padding: 1.5rem;
  background-color: white;
  border-radius: 0.5rem;
  min-height: 250px;
  display: flex;
  flex-direction: column;
}

.feature-card1 {
  grid-area: card1;
  border-top: solid 5px hsl(180, 62%, 55%);
}

.feature-card2 {
  grid-area: card2;
  border-top: solid 5px hsl(0, 78%, 62%);
}

.feature-card3 {
  grid-area: card3;
  border-top: solid 5px hsl(212, 86%, 64%);
}

.feature-card4 {
  grid-area: card4;
  border-top: solid 5px hsl(34, 97%, 64%);
}

.icons {
  height: 64px;
  width: 64px;
  align-self: flex-end;
  margin-top: 30px;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
